.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-selectable-helper {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.pf2e-perception {
    &.covers {
        .hint {
            margin: 0 1em 0.5em;
        }

        button {
            margin-block: 0.1em;
        }
    }

    &.point-out {
        font-size: var(--font-size-12);

        h4 {
            font-weight: 700;
            color: var(--color-text-dark-secondary);
        }

        section {
            margin: 0;
        }
    }
}

.pf2e-conditionals {
    --icon-size: 26px;

    position: absolute;
    transform: translate(-50%, -100%);
    height: fit-content;
    display: flex;

    .conditional {
        position: relative;

        &:not(:only-child):first-child {
            transform: rotateZ(-25deg);
        }

        &:nth-child(2) {
            transform: rotateZ(25deg);
        }

        img {
            width: var(--icon-size);
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: block;
            border: 1px solid var(--tertiary);
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(100% - 5px);
            left: 50%;
            margin-left: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid black;
            z-index: -1;
        }
    }
}

.message {
    .pf2e-perception-chat-combo {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 3px;
    }

    .pf2e-perception-chat-button {
        margin: 0 0 5px;
        padding-block: 0;
        position: relative;

        i.no-label {
            margin: 0;
        }

        i.slashed {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
        }

        i.validated {
            color: green;
            margin-left: 0.3em;
        }
    }

    .pf2e-perception-hint {
        display: block;
        font-size: 0.9em;
        text-align: end;

        i.validated {
            color: green;
        }

        i.canceled {
            color: red;
        }
    }

    .pf2e-perception-unhide {
        position: absolute;
        right: 0px;
        bottom: 1px;

        button {
            width: 22px;
            height: 22px;
            font-size: 10px;
            line-height: 1px;

            i {
                right: 1px;
            }
        }
    }

    .dmgBtn-container + .pf2e-perception-unhide,
    .pf2e-perception-unhide:has(+ .dmgBtn-container),
    span > .pf2e-perception-unhide {
        right: auto;
        left: 0px;
    }
}
