.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-selectable-helper {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.pf2e-perception {
    &.covers {
        .hint {
            margin: 0 1em 0.5em;
        }

        button {
            margin-block: 0.1em;
        }
    }
}
