.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-selectable-helper {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.pf2e-perception {
    &.covers {
        .hint {
            margin: 0 1em 0.5em;
        }

        button {
            margin-block: 0.1em;
        }
    }
}

.pf2e-conditionals {
    position: absolute;
    transform: translate(-50%, -100%);
    height: fit-content;
    display: flex;

    .conditional {
        position: relative;

        &:not(:only-child):first-child {
            transform: rotateZ(-25deg);
        }

        &:nth-child(2) {
            transform: rotateZ(25deg);
        }

        img {
            width: 26px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: block;
            border: 1px solid var(--tertiary);
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(100% - 5px);
            left: 50%;
            margin-left: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid black;
            z-index: -1;
        }
    }
}
